.header .logo {
    display: inline-flex;
    align-items: center; /* Vertically align image and heading */
  }
  
  .header .logo img {
    margin-right: 10px; /* Add some spacing between the logo and text */
    /* Adjust other image styles as needed */
  }