<nav class="sidebar" [class.sidebar-collapsed]="isSidebarCollapsed">
  <div class="profile-container">
    <div class="profile-avatar">
      <img src="assets/images/user-avatar.png" alt="User Profile" class="profile-img" />
    </div>
    <div class="profile-name">{{userName}}</div>
    <button class="menu-toggle-button" (click)="toggleSidebarInternal()">
      <span class="material-icons">menu</span>
    </button>
  </div>
  <ul>
    <li>
      <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <span class="nav-icon material-icons">dashboard</span>
        <span class="nav-text">Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/bookings" routerLinkActive="active">
        <span class="nav-icon material-icons">calendar_today</span>
        <span class="nav-text">My Bookings</span>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/profile" routerLinkActive="active">
        <span class="nav-icon material-icons">person</span>
        <span class="nav-text">Profile</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/login']" [queryParams]="{ userType: userType }">
        <span class="nav-icon material-icons">logout</span>
        <span class="nav-text">Logout</span>
      </a>
    </li>
  </ul>
</nav>