<header class="app-header">
  <div class="logo-container">
    <img src="assets/images/service-app-logo.png" alt="Your App Logo">
    <h1>Book My Service</h1>
  </div>
  <nav class="main-nav">
    <ul>
      <li><a href="#about-us-section">About Us</a></li>
      <li><a href="#contact-us-section">Contact</a></li>
      <li><a href="#request-demo-section">Request Demo</a></li>
      <li><a routerLink="/login">Book Service</a></li>
    </ul>
  </nav>
  <div class="auth-buttons">
    <div class="dropdown">
      <button class="register-button dropdown-toggle" (click)="toggleRegisterDropdown()">Register</button>
      <div class="dropdown-menu" [class.show]="showRegisterDropdown">
        <a class="dropdown-item" (click)="navigateToRegister('client')">Client</a>
        <a class="dropdown-item" (click)="navigateToRegister('service-provider')">Service Provider</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="login-button dropdown-toggle" (click)="toggleLoginDropdown()">Login</button>
      <div class="dropdown-menu" [class.show]="showLoginDropdown">
        <a class="dropdown-item" (click)="navigateToLogin('client')">Client</a>
        <a class="dropdown-item" (click)="navigateToLogin('service-provider')">Service Provider</a>
      </div>
    </div>
  </div>
</header>