/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* styles.scss */
@import '@angular/material/prebuilt-themes/indigo-pink.css'; /* Or your chosen theme */

/* Style the snackbar container for success */
.mat-snack-bar-container.simple-success {
  background-color: transparent !important; /* Remove the default background */
  color: green !important; /* Set text color to green */
}

.mat-snack-bar-container.simple-success button {
  color: inherit !important; /* Ensure button text inherits the green color */
}

/* Style the snackbar container for error */
.mat-snack-bar-container.simple-error {
  background-color: transparent !important; /* Remove the default background */
  color: red !important; /* Set text color to red */
}

.mat-snack-bar-container.simple-error button {
  color: inherit !important; /* Ensure button text inherits the red color */
}

.simple-success {
    background-color: #4CAF50 !important; /* Green background */
    color: white !important;
  }
  
  .simple-error {
    background-color: #f44336 !important; /* Red background for errors */
    color: white !important;
  }
  
  .simple-warning {
    background-color: #ff9800 !important; /* Orange/Amber background for warnings */
    color: white !important;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
  }
  
  .header .logo img {
    height: 50px;
  }
  
  .header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .header nav ul li {
    margin-right: 15px;
  }
  
  .header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  .header nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* Footer styles */
  .footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  .footer a {
    color: #f1f1f1;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  